extends ./layout/index 

block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura
        
block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus ex, venenatis ac gravida eu, eleifend eu purus. Morbi diam sem, ullamcorper eget urna in, hendrerit consectetur ante. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget nisi quis massa commodo accumsan quis in velit. Pellentesque efficitur facilisis tortor, et egestas elit iaculis ut. Nam placerat sem eget tellus hendrerit, at vehicula est blandit. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo 2024 - 28 de Marzo de 2024
                        p.precio $2,500 USD   
    .container 
        h2.mt-5.text-center Testimoniales  
            include ./layout/bloque_testimoniales 