extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1=pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id sollicitudin augue. Mauris lobortis vehicula sodales. Aliquam erat volutpat. Nullam auctor dignissim turpis sed blandit. Fusce consequat a arcu semper malesuada. In elit diam, lacinia facilisis consequat sed, pulvinar euismod sapien. Morbi scelerisque nibh erat. In non libero sit amet nisl aliquet vestibulum commodo at ligula. 

                p Nulla facilisi. Donec id massa maximus, viverra velit sed, commodo odio. Maecenas id nibh a dui faucibus congue. Sed ut mauris sed turpis ullamcorper tempor. Phasellus ac imperdiet nisi. Quisque justo mi, pellentesque non nisi sed, malesuada eleifend erat. Aliquam erat volutpat. Nullam porta, nunc id euismod feugiat, nisl erat maximus quam, id tincidunt nibh nisi id turpis. 

                p Sed convallis turpis ac est finibus, luctus ultrices risus sagittis. Mauris neque lacus, tincidunt sed est et, pretium fringilla justo. Etiam commodo quam vel dui consectetur vulputate. Mauris varius, orci quis venenatis dictum, orci lorem gravida erat, sit amet fermentum arcu quam vitae massa. Nam posuere maximus congue. Nam efficitur nisi turpis, ut accumsan orci rutrum vel. 

    .listaado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed convallis turpis ac est finibus, luctus ultrices risus sagittis. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed convallis turpis ac est finibus, luctus ultrices risus sagittis. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed convallis turpis ac est finibus, luctus ultrices risus sagittis. 
    